* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #ededee;
}

a {
  color: inherit;
  text-decoration-color: #17a2b8 !important;
}

.list-group-flush {
  color: #495057;
}

main {
  background-color: #ededee;
}

.myPic {
  height: 250px;
  padding: 0 !important;
  clip-path: polygon(
    10% 0%,
    90% 0%,
    100% 10%,
    100% 90%,
    90% 100%,
    10% 100%,
    0% 90%,
    0% 10%
  );
  filter: grayscale(60%);
}

.sidebar-fixed {
  left: 0;
  top: 0;
  height: 100vh;
  width: 270px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 0;
}

.flexible-navbar {
  transition: padding-left 0.5s;
  padding-left: 270px;
}

#content {
  margin-left: 270px;
}

.sidebar-fixed .logo-wrapper img {
  width: 100%;
  padding: 2.5rem;
}

.list-group-item {
  display: block !important;
  transition: background-color 0.3s;
}

.list-group-item:hover {
  color: #49505b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.list-group-item:hover {
  color: #49505b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.list-group .active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-subtitle {
  font-size: 1.25rem;
  font-weight: 600;
}

.card .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}

.card h3,
.card.card-cascade h4 {
  margin-bottom: 0px;
}

.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}

.cascading-admin-card .admin-up .fa {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
}

.cascading-admin-card .admin-up .fa {
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}

.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #999999;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}

.form-inline {
  flex-flow: unset;
}

.breadcrumb {
  margin: 0;
}

.activeClass .list-group-item {
  z-index: 5;
  color: #fff;
  border-color: #17a2b8;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px !important;
  background-color: #17a2b8 !important;
}

.page-footer {
  margin-left: 270px;
}

.footer {
  background-color: transparent;
}
.footer p a:hover {
  color: gray;
}

.flexible-content {
  height: 20vh;
}

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none;
  }
  .flexible-content {
    padding-left: 0;
  }
  .flexible-navbar {
    padding-left: 10px;
  }

  #content {
    margin-left: 0px;
  }

  .page-footer {
    margin-left: 0px;
  }

  .card.cascading-admin-card {
    margin-top: 2.5rem;
  }
  .skills-res {
    flex-direction: column;
    align-items: center;
  }
  .skills-title {
    text-align: center;
  }
  .docus {
    flex-direction: column !important;
    align-items: center;
  }
  .docus-card {
    width: 80% !important;
  }

  .contact {
    flex-direction: column !important;
    align-items: center;
  }
  .contact-card {
    width: 80% !important;
  }
}

@media (max-width: 576px) {
  .landingPage {
    height: 150vh !important;
  }
  .landingImgRes {
    margin-top: 10px !important;
  }
  .card.cascading-admin-card {
    margin-top: 2.5rem;
  }
  .landingDiv {
    flex-direction: column !important;
  }
  .me {
    height: 300px !important;
    width: 250px !important;
  }
  #content {
    padding: 0% !important;
  }

  .jumbotronAbout {
    margin-top: 80px !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  }

  #breadcrumb {
    flex-direction: column;
  }
  .skills-title {
    text-align: center;
  }

  .docus-card {
    max-width: 100% !important;
  }
  .contact-card {
    max-width: 100% !important;
  }
}

/* LANDINGPAGE */
.logo {
  height: 100px;
  width: 100px;
}
.me {
  height: 350px;
  width: 300px;
  filter: grayscale(60%);
}

.landingPage {
  background-image: url(./assets/bg-1.jpg);
  background-position: center;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.landingH2 {
  animation: animate 1s linear infinite;
  color: #ffffff;
}

@keyframes animate {
  0%,
  100% {
    text-shadow: -1.5px -1.5px 0 #00ffff, 1.5px 1.5px 0 #ff0000;
  }

  25% {
    text-shadow: 1.5px 1.5px 0 #00ffff, -1.5px -1.5px 0 #ff0000;
  }

  50% {
    text-shadow: 1.5px -1.5px 0 #00ffff, -1.5px 1.5px 0 #ff0000;
  }

  75% {
    text-shadow: -1.5px 1.5px 0 #00ffff, 1.5px -1.5px 0 #ff0000;
  }
}

.page-item.active .page-link {
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;
}

.docus-img {
  filter: grayscale(60%);
}

::-webkit-scrollbar {
  width: 5px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #17a2b8;
}

